@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body{
    font-family: 'Titillium Web', sans-serif;
}

.simple-text{
    color:#333333;
    font-size: 20px;
}

.title-bold{
    font-weight: bold;
}

.nav-hover {
    padding-right: 10px;
}

.nav-hover:hover{
    cursor: pointer;
    color: #fff;
}