.background-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.text-name-background{
    padding-top: 30vh;
    color:#b8b8b8;
    text-align: center;
    vertical-align: middle;
}

.text-description-background{
    padding-top: 3vh;
    font-size: 20px;
    color:#b8b8b8;
    text-align: center;
    vertical-align: middle;
}

.icon-background{
    color:#b8b8b8;
    position: absolute;
    bottom:20px;
    font-size: 27px;
    text-align: center;
}

.icon-background:hover{
    color:#868686;
    cursor: pointer;
    transition: color 0.5s ease 0s;
}

.presentation{
    margin-top: 8%;
    margin-left:3%;
}

.photo_author{
    width:75%;
    margin-top:7%;
}

.parallax-overlay{
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.text-name-parallax{
    padding-top: 3%;
    color:#fff;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

.text-description-parallax{
    padding-top: 3vh;
    font-size: 20px;
    color:#fff;
    text-align: center;
    vertical-align: middle;
}

.parallaxImage{
    margin-top:5%;
}

.icon-knowledge{
    font-size: 35px;
    margin-top:10px;
}

.separate-divs {
    margin-top: 5%;
}